In [1]:
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
import pandas as pd
import requests
import lxml

In [2]:
url = 'https://spa.gov.mn/newcompanies?/'

ua = UserAgent()
fake_ua = {'user-agent': ua.random}

response = requests.get(url=url, headers=fake_ua)

response.encoding = 'utf-8'

soup = BeautifulSoup(response.text, 'lxml')

table = soup.find('table', class_='table table-striped table-bordered b-t text-small')

In [5]:
headers = []

for i in table.find_all('th'):
    title = i.text
    headers.append(title)

#for i in ["Улсын бүртгэлийн дугаар","Үйл ажиллагааны чиглэл","Утас","Факсын дугаар","Хаяг"]:
#    headers.append(i)
headers

['#', 'ААН-ын нэр', 'Регистерийн дугаар']

In [6]:
data = pd.DataFrame(columns=headers)
data

Empty DataFrame
Columns: [#, ААН-ын нэр, Регистерийн дугаар]
Index: []

In [10]:
div_link_list = [f'https://spa.gov.mn/newcompanies?page={i}' for i in range(1,75)]
div_link_list

['https://spa.gov.mn/newcompanies?page=1',
 'https://spa.gov.mn/newcompanies?page=2',
 'https://spa.gov.mn/newcompanies?page=3',
 'https://spa.gov.mn/newcompanies?page=4',
 'https://spa.gov.mn/newcompanies?page=5',
 'https://spa.gov.mn/newcompanies?page=6',
 'https://spa.gov.mn/newcompanies?page=7',
 'https://spa.gov.mn/newcompanies?page=8',
 'https://spa.gov.mn/newcompanies?page=9',
 'https://spa.gov.mn/newcompanies?page=10',
 'https://spa.gov.mn/newcompanies?page=11',
 'https://spa.gov.mn/newcompanies?page=12',
 'https://spa.gov.mn/newcompanies?page=13',
 'https://spa.gov.mn/newcompanies?page=14',
 'https://spa.gov.mn/newcompanies?page=15',
 'https://spa.gov.mn/newcompanies?page=16',
 'https://spa.gov.mn/newcompanies?page=17',
 'https://spa.gov.mn/newcompanies?page=18',
 'https://spa.gov.mn/newcompanies?page=19',
 'https://spa.gov.mn/newcompanies?page=20',
 'https://spa.gov.mn/newcompanies?page=21',
 'https://spa.gov.mn/newcompanies?page=22',
 'https://spa.gov.mn/newcompanies?page=23',
 'https://spa.gov.mn/newcompanies?page=24',
 'https://spa.gov.mn/newcompanies?page=25',
 'https://spa.gov.mn/newcompanies?page=26',
 'https://spa.gov.mn/newcompanies?page=27',
 'https://spa.gov.mn/newcompanies?page=28',
 'https://spa.gov.mn/newcompanies?page=29',
 'https://spa.gov.mn/newcompanies?page=30',
 'https://spa.gov.mn/newcompanies?page=31',
 'https://spa.gov.mn/newcompanies?page=32',
 'https://spa.gov.mn/newcompanies?page=33',
 'https://spa.gov.mn/newcompanies?page=34',
 'https://spa.gov.mn/newcompanies?page=35',
 'https://spa.gov.mn/newcompanies?page=36',
 'https://spa.gov.mn/newcompanies?page=37',
 'https://spa.gov.mn/newcompanies?page=38',
 'https://spa.gov.mn/newcompanies?page=39',
 'https://spa.gov.mn/newcompanies?page=40',
 'https://spa.gov.mn/newcompanies?page=41',
 'https://spa.gov.mn/newcompanies?page=42',
 'https://spa.gov.mn/newcompanies?page=43',
 'https://spa.gov.mn/newcompanies?page=44',
 'https://spa.gov.mn/newcompanies?page=45',
 'https://spa.gov.mn/newcompanies?page=46',
 'https://spa.gov.mn/newcompanies?page=47',
 'https://spa.gov.mn/newcompanies?page=48',
 'https://spa.gov.mn/newcompanies?page=49',
 'https://spa.gov.mn/newcompanies?page=50',
 'https://spa.gov.mn/newcompanies?page=51',
 'https://spa.gov.mn/newcompanies?page=52',
 'https://spa.gov.mn/newcompanies?page=53',
 'https://spa.gov.mn/newcompanies?page=54',
 'https://spa.gov.mn/newcompanies?page=55',
 'https://spa.gov.mn/newcompanies?page=56',
 'https://spa.gov.mn/newcompanies?page=57',
 'https://spa.gov.mn/newcompanies?page=58',
 'https://spa.gov.mn/newcompanies?page=59',
 'https://spa.gov.mn/newcompanies?page=60',
 'https://spa.gov.mn/newcompanies?page=61',
 'https://spa.gov.mn/newcompanies?page=62',
 'https://spa.gov.mn/newcompanies?page=63',
 'https://spa.gov.mn/newcompanies?page=64',
 'https://spa.gov.mn/newcompanies?page=65',
 'https://spa.gov.mn/newcompanies?page=66',
 'https://spa.gov.mn/newcompanies?page=67',
 'https://spa.gov.mn/newcompanies?page=68',
 'https://spa.gov.mn/newcompanies?page=69',
 'https://spa.gov.mn/newcompanies?page=70',
 'https://spa.gov.mn/newcompanies?page=71',
 'https://spa.gov.mn/newcompanies?page=72',
 'https://spa.gov.mn/newcompanies?page=73',
 'https://spa.gov.mn/newcompanies?page=74']

In [17]:
for lnk in div_link_list:
    url_link = lnk
    response1 = requests.get(url=url_link, headers=fake_ua)
    response1.encoding = 'utf-8'
    
    soup1 = BeautifulSoup(response1.text, 'lxml')
    table1 = soup1.find('table', class_='table table-striped table-bordered b-t text-small')
    
    table1 = table1.find('tbody')

    for i in table1.find_all('tr'):
        row_data = i.find_all('td')
        row = [i.text.strip() for i in row_data]
        length = len(data)
        data.loc[length] = row
print('DONE!')

DONE!

In [22]:
data

       #                ААН-ын нэр Регистерийн дугаар
0      1            Наран тээл ХХК            2832097
1      2                       БЦХ            2768224
2      3  Бүтээлч шинэ сонголт ХХК            5033772
3      4       Миний Сайн шанд ХХК            2771233
4      5       Бодиз Автомотив ХХК            2108364
...   ..                       ...                ...
1849  25               АВВКНСТ ХХК            5337461
1850   1          Оюут билгүүн ХХК            3002977
1851   2              Хан-Асар ХХК            5679745
1852   3        Хайспийд групп ХХК            5923719
1853   4            Болор хийц ХХК            5056063

[1854 rows x 3 columns]

In [23]:
data.to_csv('registr_company.csv', index=False)

In [24]:
mydata2 = pd.read_csv('registr_company.csv')

In [27]:
mydata2.head(25)

     #                   ААН-ын нэр Регистерийн дугаар
0    1               Наран тээл ХХК            2832097
1    2                          БЦХ            2768224
2    3     Бүтээлч шинэ сонголт ХХК            5033772
3    4          Миний Сайн шанд ХХК            2771233
4    5          Бодиз Автомотив ХХК            2108364
5    6                  Батсээр ХХК            2079941
6    7            Моннис моторс ХХК            5446139
7    8  Монголхьюндай автомотив ХХК            5404215
8    9                Хурд-Авто ХХК            2748096
9   10                   Цэнком ХХК            2103818
10  11                    Бэтта ХХК            5303265
11  12                     МТМК ХХК            5238633
12  13            Сектех сервис ХХК            2789698
13  14                   То Бэм ХХК            2571862
14  15                Мон Инж Эм Жи            5320925
15  16                  Хасууцамхаг            5215471
16  17    Цахилгаан тээвэр ОНӨААТҮГ            2116901
17  18                Бурхантхясаат            4245733
18  19                Ар дааган ХХК            2871351
19  20                      ЧММ ХХК            2085879
20  21               БСБ Мебель ХХК            5381908
21  22                      РЭМ ХХК            2018438
22  23               Aльянс Тек ХХК            2664453
23  24               Комфорт импекс            2611813
24  25            Хасу мегаватт ХХК            2656124

In [28]:
mydata2.tail(25)

       #                        ААН-ын нэр Регистерийн дугаар
1829   5                 Цолмон сүндэр ХХК            5266963
1830   6                Талст өндөрлөг ХХК            2822431
1831   7                    Люкс групп ХХК            5707749
1832   8                    Тамир таун ХХК            3004643
1833   9                Чаргатын булаг ХХК            5573076
1834  10  Өндөр говь мэргэн констракшн ХХК            5790654
1835  11                 ПН ган сүлжээ ХХК            5359651
1836  12                          ДШТД ХХК            4385403
1837  13                  Бүлээн оргил ХХК            3183998
1838  14                      Дээш нис ХХК            6055443
1839  15                    Морьттүнгэ ХХК            2768674
1840  16                         Эсгэл ХХК            3748863
1841  17                          БГБС ХХК            3007472
1842  18             Дэвшилт пропертиз ХХК            5467934
1843  19                  Энх шилтгээн ХХК            5723183
1844  20                      Си Эй Ди ХХК            5009308
1845  21                 Шивээт гялман ХХК            2553325
1846  22                    Олз мандал ХХК            4371445
1847  23                   Мандаачулуу ХХК            2553198
1848  24                        Од орд ХХК            2621932
1849  25                       АВВКНСТ ХХК            5337461
1850   1                  Оюут билгүүн ХХК            3002977
1851   2                      Хан-Асар ХХК            5679745
1852   3                Хайспийд групп ХХК            5923719
1853   4                    Болор хийц ХХК            5056063